div{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

#first{
    color: RED;

}
#second{
    color: green;
}
#third{
    color: blue;
}
#first:hover{
    background: Red;
    color: white;
    transition: all 1s;
}
#second:hover{
    background: green;
    color: white;
    transition: all 1s;
}
#third:hover{
    background: blue;
    color: white;
    transition: all 1s;
}